<div class="col-xs-4 col-xs-offset-3">
  <div class="text-center">
    <h1>Tasks list</h1>
    <p>Here are your tasks lists:</p>
    <ul>
      <% @tasks.each do |task| %>
      <li> <%= task.name %>
       <div class="btn btn-info"><%= link_to "Go", task_path(task) %></div>
       <div class="btn btn-info"><%= link_to "Edit",edit_task_path(task) %></div>
       <div class="btn btn-info"><%= link_to "Delete", task_path(task), method: :delete %></div>
      </li>
      <% end %>
    </ul>
    <div class="btn btn-success"><%= link_to "New Task", new_task_path %></div>
  </div>
</div>
