<h1>New Task</h1>
<p>To register a new task, please fill in the form: </p>
<div class= text-center>
<%= form_for @new_task do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>
</div>
